<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <style>
        *{text-align: center;}
        .message{width: 50%;}
    </style>
</head>
<body>
{% extends "layout.html" %}

{% block body %}
{% from "includes/_formhelper.html" import render_field %}
    <form method="POST" action="">
        {{ render_field(form.message, class_ ="form-control") }}
        <br>
        <input type="submit" value="Submit" class="btn btn-success btn-lg"/>
    </form>
</body>
{% endblock %}
</html>