{#{% extends 'layout.html' %}#}
{#  {% block body %}#}
{#<!-- Profile Page -->#}
{#<div class="container">#}
{##}
{#        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >#}
{##}
{#          <div class="panel panel-info">#}
{#            <div class="panel-heading">#}
{#              <h3 class="panel-title">Bojack Horseman</h3>#}
{#            </div>#}
{#            <div class="panel-body">#}
{#              <div class="row">#}
{#                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="..\..\static\images\Bojack.jpg" class="img-circle img-responsive"> </div>#}
{##}
{#                <div class=" col-md-9 col-lg-9 ">#}
{#                  <table class="table table-user-information">#}
{#                    <tbody>#}
{#                      <tr>#}
{#                        <td>Age</td>#}
{#                        <td>54</td>#}
{#                      </tr>#}
{#                      <tr>#}
{#                        <td>Interests</td>#}
{#                        <td>Drinking, Sleeping, Smoking</td>#}
{#                      </tr>#}
{#                      <tr>#}
{#                        <td>Telephone Number</td>#}
{#                        <td>0808-271-6773</td>#}
{#                      </tr>#}
{##}
{#                         <tr>#}
{#                             <tr>#}
{#                        <td>Username</td>#}
{#                        <td>BoforGoJack</td>#}
{#                      </tr>#}
{#                        <tr>#}
{#                        <td>Email</td>#}
{#                        <td>BoforGoJack@gmail.com</td>#}
{#                      </tr>#}
{#                    </tbody>#}
{#                  </table>#}
{#                </div>#}
{#              </div>#}
{#          </div>#}
{#        </div>#}
{#</div>#}
{#{% endblock %}#}

{% extends "layout.html" %}
{% block body %}

{% for i in Register %}
    <li>{{ i.get_accountType() }}</li>
    <li>{{ i. get_firstName() }}</li>
{% endfor %}

{% endblock %}

{# update(?) #}