<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WEcare</title>
    <style>
        /* Footer */
    footer{
       background-color: #424558;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 35px;
        text-align: center;
        color: #CCC;
    }

    footer p {
        padding: 10.5px;
        margin: 0px;
        line-height: 100%;
    }
    </style>
	<!-- From Profile Page. Impt to have this. Makes the font look nicer-->
</head>
<body>
<!--a footer-->
{#<div class="outer">
	<center>
	<footer>
	<div class="footerRow">
		<div class="footerCell">
			<div class="footer">
				<ul class="what">
                    <li id="kam"><strong>Contact Us:</strong></li>
                    <p></p>
					<div class="lala">
                        <li><strong>Working days:</strong> Flexible days </li>
                        <li><strong>Time:</strong> Flexible Hours</li>
                        <li><strong>Hotline:</strong> +65 6588 1011</li>
                        <li><strong>Email:</strong> the_waffles@nyp.edu.sg</li>
					</div>
				</ul>
				<br>
				<br>
                <div id = "small"><strong><small>Copyright &copy; 2017 WEcare. All Rights Reserved</small></strong></div>
			</div>
		</div>
	</div>
	</footer>
	</center>
</div>#}
<br>

<footer>
        <p>© 2017<a style="color:#0a93a6; text-decoration:none;" href="/"> WEcare</a>, All rights reserved 2017.</p>
</footer>