<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WEcare</title>

	<!-- From Profile Page. Impt to have this. Makes the font look nicer-->
</head>
<body>
<!--a footer-->
<div class="outer">
	<center>
	<footer>
	<div class="footerRow">
		<div class="footerCell">
			<div class="footer">
				<ul class="what">
                    <li id="kam"><strong>Contact Us:</strong></li>
                    <p></p>
					<div class="lala">
                        <li><strong>Working days:</strong> Flexible days </li>
                        <li><strong>Time:</strong> Flexible Hours</li>
                        <li><strong>Hotline:</strong> +65 6588 1011</li>
                        <li><strong>Email:</strong> the_waffles@nyp.edu.sg</li>
					</div>
				</ul>
				<br>
				<br>
                <div id = "small"><strong><small>Copyright &copy; 2017 WEcare. All Rights Reserved</small></strong></div>
			</div>
		</div>
	</div>
	</footer>
	</center>
</div>
