<body id="top">
<div class="wrapper row4">
  <footer id="footer" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="one_quarter">
      <h6 class="title">ABOUT US</h6>
      <p>Our website, aims to help people with their diagnosis online and lead a healthy lifestyle. This can be done through video consultations, enquiry and video classes.</p>
    </div>
    <div class="one_quarter">
      <h6 class="title">OUR SERVICES</h6>
        <p><a href="/doctor">Doctor Consultation</a></p>
        <p><a href="/instructor">Online Fitness Lessons</a></p>
        <p><a href="/enquiry">Doctor Enquiry</a></p>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">WeCare</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
</body>