<body id="top">
<div style="" class="wrapper row0">
  <div id="topbar" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="fl_right">
      <ul style="padding: 0;" class="nospace inline pushright">
        {% if session.logged_in %}
            <li><i class="fa fa-id-card-o"></i><a href="/">Profile</a></li>
            <li><i class="fa fa-calendar-check-o"></i><a href="/">Appointments</a></li>
            <li><i class="fa fa-sign-out"></i><a href="/logout">Logout</a></li>
        {% else %}
            <li><i class="fa fa-user"></i><a href="/">Register</a></li>
            <li><i class="fa fa-sign-in"></i><a href="/login">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
<div class="bgded" style="background-color: rgb(74,76,84)">
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><a href="/home"><img style="height:50px; width: 100px; margin-top: -15px ;margin-left: -80px;margin-bottom: 0;margin-right: 100px" src="../../static/images/Logo.png"></a></h1>
      </div>
      <nav style="color:#A6A6A6; padding: 0;" id="mainav" class="fl_right">
        <ul class="clear">
          <li><a href="/home">Home</a></li>
          <li><a class="drop" href="#">Online Consultation</a>
            <ul>
              <li><a href="/">Doctors</a></li>
              <li><a href="/">Instructors</a></li>
            </ul>
          </li>
          <li><a class="drop" href="#">Health Tips</a>
            <ul>
              <li><a href="/tips-dietary">Dietary Tips</a></li>
              <li><a href="/tips-fitness">Fitness Tips</a>
            </ul>
          </li>
          <li><a class="drop" href="#">Enquiry</a>
            <ul>
              <li><a href="/enquiry">Health Enquiry</a></li>
              <li><a href="/enquirylistPB">Patient Enquiries</a></li>
            </ul>
          </li>
          <li><a href="/">Reviews</a></li>
        </ul>
      </nav>
    </header>
  </div>
</div>
</body>