<head>
    <style>
    body {
        background-image: url('https://cdn-images-1.medium.com/max/1920/1*AcYLHh0_ve4TNRi6HLFcPA.jpeg');
        background-size: cover;
    }
    .container{
    margin-top:20px;
    }
    </style>
</head>

{% extends 'layout.html' %}

{% block additionalscripts %}
{% endblock %}

{% block body %}
{% from "includes/_formhelper.html" import render_field %}
{#Display Error on top of page if any#}
{% if form.errors %}
<div class="alert alert-danger">
    <ul>
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}
{#End#}

<br style="line-height: 50px;">

<div class="row">
    <div class="container">
        <div class="panel panel-default" style="max-width:500px;margin-left:auto;margin-right:auto;margin-top: auto;margin-bottom: auto" >
            <div class="panel-heading">
                <h4 id="login-form-link"><a class="active" style="color: #222222">Post a new article</a></h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <form method="POST" action="" id="login-form">
                        <div class="col-lg-12">
                            <div class="form-group">
                            {{ render_field(form.title,class="form-control")}}
                            <br>
                            {{ render_field(form.content, rows=5, cols=5, class="form-control")}}
                            <br>
                            {{ render_field(form.type,class="radio-inline")}}
                            </div>
                        </div>
                        <br>
                        <div class="form-group col-md-1">
                            <input type="submit" value="Submit" class="btn btn-primary"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<br style="line-height: 50px;">

{% endblock %}
