.slideshow {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*add*/
#slider{
	margin-left:auto;
	margin-right:auto;
	border: 2px solid;
    border-radius: 25px;
}