video {
  background-color: rgb(217, 217, 217);
  border-radius: 10px;
  border: 5px solid gray;
  margin: 40px 0 0 0px;
  width: 640px;
  height:360px;
  filter: hue-rotate(18deg) saturate(100%);
}
button {
  margin: 10px 0px 0px 10px !important;
  width: 340px;
}
hr{
	border: 2px dotted rgb(217, 217, 217);
}
.onlineVideo{
	font-family: "Georgia", Verdana;
}
#note{
	margin-left:23px;
	font-family: "Georgia", Verdana;
}
#note2{
	font-family: "Georgia", Verdana;
	border:
}

#key{
	border: 0.5px solid grey;
	border-radius: 3px;
	padding: 4px;
	background-color: #efefef;
}