{% extends 'layout.html' %}

{% block body %}
    {% from "includes/_formhelper.html" import render_field %}
     <script>
        $(document).ready(function () {

            $('#specialization1').hide();
            $('#specialization2').hide();
            $('input[type="radio"]').click(function () {
                if ($(this).attr('value') == 'idoctor') {
                    $('#specialization1').show();
                    $('#specialization2').hide();
                }

                else if ($(this).attr('value')=="iinstructor") {
                    $('#specialization1').hide();
                    $('#specialization2').show();
                }

                else{
                    $('#specialization1').hide();
                    $('#specialization2').hide();
                }
            });
        });
    </script>
      {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li>{{ form[field_name].label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form method="POST" action="">
        <div class="form-group">
            {{ render_field(form.accountType,class_="radio-inline") }}
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
            {#<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            {{ form.username}}#}
                {{ render_field(form.first_name , class="form-control form-control-sm" )}}
            </div>

            <div class="form-group col-md-6">
            {#<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>#}
                {{ render_field(form.last_name , class="form-control form-control-sm" )}}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                {{ render_field(form.username,class_="form-control") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                {{ render_field(form.password,class_="form-control") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                {{ render_field(form.age,class_="form-control") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                {{ render_field(form.gender,class_="form-control") }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                {{ render_field(form.email , class="form-control form-control-sm" )}}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                {{ render_field(form.phoneNumber , class="form-control form-control-sm" )}}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12" id="specialization1">
                {{ render_field(form.specialization1, class="form-control form-control-sm"  )}}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12" id="specialization2">
                {{ render_field(form.specialization2, class="form-control form-control-sm"  )}}
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="form-group col-md-11">

                </div>
                <div class="form-group col-md-1">
                    <input type="submit" value="Submit" class="btn btn-info"/>
                </div>
            </div>
        </div>
    </form>



{% endblock %}