<!--- AKA VIEW_ALL_PUBLICATIONS -->
{% extends "layout.html" %}
{% block body %}

    <h1>Appointment Notifications</h1>
    <hr>
    <br>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Specialization: </th>
            <th>Date: </th>
            <th>Time: </th>
            <th></th>
        </tr>
        </thead>
        <thead>
        <tr>
            <th scope="row">1</th>
            <td>Hygience</td>
            <td>24/05/2017</td>
            <td>23:59</td>
            <!---KIV-->
            <td>Change appointment Date/Time</td>
        </tr>
        </thead>
        <thead>
        <tr>
            <th scope="row">2</th>
            <td>Face Reconstruction</td>
            <td>24/05/2017</td>
            <td>23:59</td>
            <!---KIV-->
            <td><a href="update">Change appointment Date/Time</a> </td>
        </tr>
        </thead>
    </table>



{% endblock %}