<!--- AKA VIEW_ALL_PUBLICATIONS -->
{% extends "layout.html" %}
{% block body %}
    <center>
    <h1>Appointment Notifications <span class="glyphicon glyphicon-bell"></span></h1>
    <hr>
    <br>
    <table class="table table-user-information" style="width:950px">
        <thead>
        <tr>
            <th>Type</th>
            <th>Specialization: </th>
            <th>Name: </th>
            <th>Age: </th>
            <th>Contact: </th>
            <th>Date & Time: </th>
            <th></th>
        </tr>
        </thead>
        <thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                {% if booking.get_type() == 'idoctor'%}
                    <td>Doctor Appointment</td>
                    <td>{{ booking.get_specialization1() }}</td>
                {% else %}
                    <td>Instructor Appointment</td>
                    <td>{{ booking.get_specialization2() }}</td>
                {% endif %}
                <td> {{ booking.get_name() }}</td>
                <td> {{ booking.get_age() }}</td>
                <td> {{ booking.get_phoneNumber() }}</td>
                <td> {{ booking.get_startingDateAndTime() }}</td>

                <td><a href="/update/{{booking.get_typeid()}}" class="btn btn-warning"> Change Appointment Date/Time</a></td>
                <td><form action="{{ url_for('delete_booking',id=booking.get_typeid())}}" method="post">
                    <input type= "submit" value = "Cancel Appointment" class="btn btn-danger" onclick="return confirm('Are you sure?');"></form></td>
                <td></td>
            </tr>
        {% endfor %}
            </thead>
        </tbody>
    </table>
    </center>

{% endblock %}